<h1>{{ i18n.t('adminInstanceSettings') }}</h1>
<p>{{ i18n.t('adminInstanceSettingsIntro') }}</p>
@if (loading()) {
<p role="status">{{ i18n.t('adminLoadingInstanceSettings') }}</p>
}
<form (ngSubmit)="save()">
  <fieldset>
    <legend>{{ i18n.t('adminIdentityAndPublicLinks') }}</legend>
    <label
      >{{ i18n.t('adminInstanceName') }}
      <input name="instanceName" required maxlength="128" [(ngModel)]="instanceName"></label
    >
    <label
      >{{ i18n.t('adminDefaultLanguage') }}
      <select name="defaultLanguage" [(ngModel)]="defaultLanguage">
        <option value="en">{{ i18n.t('languageEnglish') }}</option>
        <option value="de">{{ i18n.t('languageGerman') }}</option>
      </select></label
    >
    <label
      >{{ i18n.t('adminPublicBaseUrl') }}
      <input name="publicBaseUrl" type="url" required [(ngModel)]="publicBaseUrl"></label
    >
    <label
      >{{ i18n.t('adminSmtpSenderName') }}
      <input name="smtpSenderName" required maxlength="128" [(ngModel)]="smtpSenderName"></label
    >
    <label
      >{{ i18n.t('adminSmtpSenderAddress') }}
      <input name="smtpSenderAddress" type="email" required [(ngModel)]="smtpSenderAddress"></label
    >
    <div>
      <span>{{ i18n.t('adminInstanceLogo') }}</span>
      @if (instanceLogoUrl) {
      <!-- biome-ignore lint/a11y/useAltText: alt is bound from I18nService -->
      <img class="instance-logo" [src]="instanceLogoUrl" [alt]="i18n.t('adminSettingsLogoAlt')">
      <button type="button" (click)="removeLogo()">{{ i18n.t('adminRemoveLogo') }}</button>
      }
      <label class="file-button"
        >{{ i18n.t('adminChooseLogo') }}
        <input
          type="file"
          accept="image/png,image/jpeg,image/webp"
          (change)="uploadLogo($event)"
        ></label
      >
      <small>{{ i18n.t('adminSettingsLogoHint') }}</small>
    </div>
  </fieldset>
  <label
    >{{ i18n.t('adminSettingsAllowedEmailDomains') }}
    <textarea name="domains" rows="6" [(ngModel)]="domains"></textarea></label
  >
  <label
    >{{ i18n.t('adminSettingsInvitationHours') }}
    <input
      name="invitationHours"
      type="number"
      min="1"
      max="720"
      [(ngModel)]="invitationHours"
    ></label
  >
  <label
    >{{ i18n.t('adminSettingsResetMinutes') }}
    <input name="resetMinutes" type="number" min="5" max="1440" [(ngModel)]="resetMinutes"></label
  >
  <label
    >{{ i18n.t('adminSettingsEmailChangeMinutes') }}
    <input
      name="emailChangeMinutes"
      type="number"
      min="5"
      max="1440"
      [(ngModel)]="emailChangeMinutes"
    ></label
  >
  <label
    >{{ i18n.t('adminSettingsNormalSessionMinutes') }}
    <input
      name="normalSessionMinutes"
      type="number"
      min="15"
      max="10080"
      [(ngModel)]="normalSessionMinutes"
    ></label
  >
  <label
    >{{ i18n.t('adminSettingsRememberSessionMinutes') }}
    <input
      name="rememberSessionMinutes"
      type="number"
      min="1440"
      max="525600"
      [(ngModel)]="rememberSessionMinutes"
    ></label
  >
  <fieldset>
    <legend>{{ i18n.t('adminAcceptedImageUploads') }}</legend>
    @for (type of ['image/png', 'image/jpeg', 'image/webp']; track type) {
    <label
      ><input
        type="checkbox"
        [checked]="imageTypes.has(type)"
        (change)="toggleImageType(type, $any($event.target).checked)"
      > {{ type }}</label
    >
    }
  </fieldset>
  <label
    >{{ i18n.t('adminSettingsMaximumImageMb') }}
    <input name="maximumImageMb" type="number" min="1" max="50" [(ngModel)]="maximumImageMb"></label
  >
  <label
    >{{ i18n.t('adminSettingsQuotaMb') }}
    <input name="quotaMb" type="number" min="10" max="1048576" [(ngModel)]="quotaMb"></label
  >
  <label
    >{{ i18n.t('adminSettingsOrphanGraceHours') }}
    <input
      name="orphanGraceHours"
      type="number"
      min="1"
      max="720"
      [(ngModel)]="orphanGraceHours"
    ></label
  >
  <label
    >{{ i18n.t('adminSettingsNoteVersionMaximumCount') }}
    <input
      name="noteVersionMaximumCount"
      type="number"
      min="1"
      max="500"
      [(ngModel)]="noteVersionMaximumCount"
    ></label
  >
  <label
    >{{ i18n.t('adminSettingsNoteVersionRetentionDays') }}
    <input
      name="noteVersionRetentionDays"
      type="number"
      min="1"
      max="3650"
      [(ngModel)]="noteVersionRetentionDays"
    ></label
  >
  <label
    ><input name="userExportsEnabled" type="checkbox" [(ngModel)]="userExportsEnabled">
    {{ i18n.t('adminSettingsUserExportsEnabled') }}</label
  >
  <fieldset>
    <legend>{{ i18n.t('adminAccountAndRetentionPolicy') }}</legend>
    <label
      >{{ i18n.t('adminSettingsDefaultTrashDays') }}
      <input
        name="defaultTrashRetentionDays"
        type="number"
        min="1"
        max="3650"
        [(ngModel)]="defaultTrashRetentionDays"
      ></label
    >
    <label
      ><input
        name="usersMayDisableAutoPurge"
        type="checkbox"
        [(ngModel)]="usersMayDisableAutoPurge"
      >
      {{ i18n.t('adminSettingsUsersMayDisableAutoPurge') }}</label
    >
    <label
      >{{ i18n.t('adminSettingsAdminDeletionRetentionDays') }}
      <input
        name="adminDeletionRetentionDays"
        type="number"
        min="0"
        max="3650"
        [(ngModel)]="adminDeletionRetentionDays"
      ></label
    >
    <label
      >{{ i18n.t('adminSettingsAuditRetentionDays') }}
      <input
        name="auditRetentionDays"
        type="number"
        min="1"
        max="3650"
        [(ngModel)]="auditRetentionDays"
      ></label
    >
    <label
      >{{ i18n.t('adminSettingsOperationalLogRetentionDays') }}
      <input
        name="operationalLogRetentionDays"
        type="number"
        min="1"
        max="365"
        [(ngModel)]="operationalLogRetentionDays"
      ></label
    >
    <label
      >{{ i18n.t('adminSettingsLoginDelayThreshold') }}
      <input
        name="loginDelayThreshold"
        type="number"
        min="3"
        max="20"
        [(ngModel)]="loginDelayThreshold"
      ></label
    >
    <label
      >{{ i18n.t('adminSettingsLoginLockThreshold') }}
      <input
        name="loginLockThreshold"
        type="number"
        min="4"
        max="50"
        [(ngModel)]="loginLockThreshold"
      ></label
    >
    <label
      >{{ i18n.t('adminSettingsLoginLockMinutes') }}
      <input
        name="loginLockMinutes"
        type="number"
        min="1"
        max="1440"
        [(ngModel)]="loginLockMinutes"
      ></label
    >
    <label
      ><input name="selfDeletionEnabled" type="checkbox" [(ngModel)]="selfDeletionEnabled">
      {{ i18n.t('adminSettingsSelfDeletionEnabled') }}</label
    >
    <label
      ><input
        name="commonPasswordCheckEnabled"
        type="checkbox"
        [(ngModel)]="commonPasswordCheckEnabled"
      >
      {{ i18n.t('adminSettingsCommonPasswordCheck') }}</label
    >
    <label
      ><input name="passwordHistoryEnabled" type="checkbox" [(ngModel)]="passwordHistoryEnabled">
      {{ i18n.t('adminSettingsPasswordHistory') }}</label
    >
  </fieldset>
  <p class="full-width">{{ i18n.t('adminSettingsFooterNote') }}</p>
  <button type="submit" [disabled]="!loaded() || saving()">
    {{ saving() ? i18n.t('commonSaving') : i18n.t('adminSaveSettings') }}
  </button>
</form>
@if (message()) {
<p role="status">{{ message() }}</p>
} @if (error()) {
<p role="alert">{{ error() }}</p>
}
